<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearPersonal</servlet-name>
        <servlet-class>servlet.CrearPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarPersonal</servlet-name>
        <servlet-class>servlet.EliminarPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPersonal</servlet-name>
        <servlet-class>servlet.ModificarPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAlumno</servlet-name>
        <servlet-class>servlet.ModificarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMatricula</servlet-name>
        <servlet-class>servlet.CrearMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMatricula</servlet-name>
        <servlet-class>servlet.ModificarMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCarrera</servlet-name>
        <servlet-class>servlet.CrearCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCarrera</servlet-name>
        <servlet-class>servlet.ModificarCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCarrera</servlet-name>
        <servlet-class>servlet.EliminarCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearInstitucion</servlet-name>
        <servlet-class>servlet.CrearInstitucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarInstitucion</servlet-name>
        <servlet-class>servlet.ModificarInstitucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarInstitucion</servlet-name>
        <servlet-class>servlet.EliminarInstitucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCiclo</servlet-name>
        <servlet-class>servlet.GetCiclo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCiclo</servlet-name>
        <servlet-class>servlet.CrearCiclo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarCiclo</servlet-name>
        <servlet-class>servlet.ModificarCiclo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAsignatura</servlet-name>
        <servlet-class>servlet.CrearAsignatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarAsignatura</servlet-name>
        <servlet-class>servlet.ModificarAsignatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDocente</servlet-name>
        <servlet-class>servlet.ModificarDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearContrato</servlet-name>
        <servlet-class>servlet.CrearContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarContrato</servlet-name>
        <servlet-class>servlet.ModificarContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearMantAsignatura</servlet-name>
        <servlet-class>servlet.CrearMantAsignatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMantAsignatura</servlet-name>
        <servlet-class>servlet.EliminarMantAsignatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarPago</servlet-name>
        <servlet-class>servlet.GenerarPago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDetallePago</servlet-name>
        <servlet-class>servlet.EliminarDetallePago</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticar</servlet-name>
        <servlet-class>servlet.Autenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuariosPersonal</servlet-name>
        <servlet-class>servlet.CrearUsuariosPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuario</servlet-name>
        <servlet-class>servlet.ModificarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioPersonal</servlet-name>
        <servlet-class>servlet.EliminarUsuarioPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuarioAlumno</servlet-name>
        <servlet-class>servlet.CrearUsuarioAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioAlumno</servlet-name>
        <servlet-class>servlet.EliminarUsuarioAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearUsuarioDocente</servlet-name>
        <servlet-class>servlet.CrearUsuarioDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioDocente</servlet-name>
        <servlet-class>servlet.EliminarUsuarioDocente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearPersonal</servlet-name>
        <url-pattern>/CrearPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarPersonal</servlet-name>
        <url-pattern>/EliminarPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPersonal</servlet-name>
        <url-pattern>/ModificarPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAlumno</servlet-name>
        <url-pattern>/ModificarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMatricula</servlet-name>
        <url-pattern>/CrearMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMatricula</servlet-name>
        <url-pattern>/ModificarMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCarrera</servlet-name>
        <url-pattern>/CrearCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCarrera</servlet-name>
        <url-pattern>/ModificarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCarrera</servlet-name>
        <url-pattern>/EliminarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearInstitucion</servlet-name>
        <url-pattern>/CrearInstitucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarInstitucion</servlet-name>
        <url-pattern>/ModificarInstitucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarInstitucion</servlet-name>
        <url-pattern>/EliminarInstitucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCiclo</servlet-name>
        <url-pattern>/GetCiclo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCiclo</servlet-name>
        <url-pattern>/CrearCiclo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCiclo</servlet-name>
        <url-pattern>/ModificarCiclo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAsignatura</servlet-name>
        <url-pattern>/CrearAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarAsignatura</servlet-name>
        <url-pattern>/ModificarAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDocente</servlet-name>
        <url-pattern>/ModificarDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearContrato</servlet-name>
        <url-pattern>/CrearContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarContrato</servlet-name>
        <url-pattern>/ModificarContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearMantAsignatura</servlet-name>
        <url-pattern>/CrearMantAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMantAsignatura</servlet-name>
        <url-pattern>/EliminarMantAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarPago</servlet-name>
        <url-pattern>/GenerarPago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDetallePago</servlet-name>
        <url-pattern>/EliminarDetallePago</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticar</servlet-name>
        <url-pattern>/Autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuariosPersonal</servlet-name>
        <url-pattern>/CrearUsuariosPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuario</servlet-name>
        <url-pattern>/ModificarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioPersonal</servlet-name>
        <url-pattern>/EliminarUsuarioPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuarioAlumno</servlet-name>
        <url-pattern>/CrearUsuarioAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioAlumno</servlet-name>
        <url-pattern>/EliminarUsuarioAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearUsuarioDocente</servlet-name>
        <url-pattern>/CrearUsuarioDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioDocente</servlet-name>
        <url-pattern>/EliminarUsuarioDocente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
